pipeline/PL_GH_nested_Parent.json
{
	"name": "PL_GH_nested_Parent",
	"properties": {
		"activities": [
			{
				"name": "Get_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://accounts.accesscontrol.windows.net/979ffdff-332b-406c-8644-6d8db569225f/tokens/OAuth/2",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=37f85492-cd63-416e-8b0f-68b9d838972e@979ffdff-332b-406c-8644-6d8db569225f&client_secret=Qvv8Q~Txb.MB7O4luy6VRi9AItof5764x8N4Jdxk&resource=00000003-0000-0ff1-ce00-000000000000/kasmoco.sharepoint.com@979ffdff-332b-406c-8644-6d8db569225f",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Metadata",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://kasmoco.sharepoint.com/sites/DataEngineering/_api/web/GetFolderByServerRelativeUrl('/sites/DataEngineering/Shared%20Documents/Products/Greenhouse%20Analytics/source_data/')/Folders\n\n",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ', activity('Get_token').output.access_token)}",
							"type": "Expression"
						},
						"Accept": {
							"value": "application/json",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEach_SubFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Child Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_GH_nested_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Folderpath": {
										"value": "@{item().ServerRelativeUrl}",
										"type": "Expression"
									},
									"GetToken": {
										"value": "@activity('Get_token').output.access_token",
										"type": "Expression"
									},
									"Foldername": {
										"value": "@{item().name}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Greenhouse Analytics"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-08T04:12:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}