pipeline/PL_GH_multiplefolders.json
{
	"name": "PL_GH_multiplefolders",
	"properties": {
		"activities": [
			{
				"name": "Get_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://accounts.accesscontrol.windows.net/979ffdff-332b-406c-8644-6d8db569225f/tokens/OAuth/2",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=37f85492-cd63-416e-8b0f-68b9d838972e@979ffdff-332b-406c-8644-6d8db569225f&client_secret=Qvv8Q~Txb.MB7O4luy6VRi9AItof5764x8N4Jdxk&resource=00000003-0000-0ff1-ce00-000000000000/kasmoco.sharepoint.com@979ffdff-332b-406c-8644-6d8db569225f",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Metadata_Standard",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://kasmoco.sharepoint.com/sites/DataEngineering/_api/web/GetFolderByServerRelativeUrl('/sites/DataEngineering/Shared Documents/Products/Greenhouse Analytics/source_data/standard_data/')/Files\n\n",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ', activity('Get_token').output.access_token)}",
							"type": "Expression"
						},
						"Accept": {
							"value": "application/json",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEach_Standard",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_Standard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_Standard').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Data_Standard",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "RelativeURL ",
									"value": "@{item().ServerRelativeUrl}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization:Bearer ', activity('Get_token').output.access_token)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_gh_sc_multiplefolders_standard",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURL": {
											"value": "@{item().ServerRelativeUrl}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_gh_tgt_multiplefolders_standard",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@concat(item().Name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Metadata_Customer",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://kasmoco.sharepoint.com/sites/DataEngineering/_api/web/GetFolderByServerRelativeUrl('/sites/DataEngineering/Shared Documents/Products/Greenhouse Analytics/source_data/customer_data/')/Files\n\n",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ', activity('Get_token').output.access_token)}",
							"type": "Expression"
						},
						"Accept": {
							"value": "application/json",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEach_Customer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_Customer').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Data_Customer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "RelativeURL ",
									"value": "@{item().ServerRelativeUrl}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization:Bearer ', activity('Get_token').output.access_token)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_gh_sc_multiplefolders_customer",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURL": {
											"value": "@{item().ServerRelativeUrl}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_gh_tgt_multiplefolders_customer",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@concat(item().Name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"TimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Greenhouse Analytics"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-28T05:56:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}